In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Read the data as df
df = pd.read_excel('D:\Imam\Belajar\Python\Data_Science\Compras 2022\Compras2022.xlsx')

In [3]:
df

,Supplier name,Date of purchase,type,number,store,product,description,amount,unit,vlr unit,total without VAT,vat_rate,vat_value,account,Actual Price,new_price,current balance,gross margin
0,CAMILO ANDRES JARAMILLO GORDILLO,2022-01-14,FC,28266,1,7704987009249,TINTE IRIS,12.0,UND,1716,20588,19,3912,14351601,2800.0,0.0,4.0,0
1,CAMILO ANDRES JARAMILLO GORDILLO,2022-01-14,FC,28266,1,5210,CANDELA CON EXTENSOR,25.0,UND,2286,57143,19,10857,14351601,4000.0,0.0,688.0,0
2,CAMILO ANDRES JARAMILLO GORDILLO,2022-01-14,FC,28266,1,7453088046287,SUPER GLUE *10G,12.0,UND,575,6900,0,0,14350101,900.0,0.0,133.0,0
3,CAMILO ANDRES JARAMILLO GORDILLO,2022-01-14,FC,28266,1,6984240170102,CINTA NEGRA AISLANTE,10.0,UND,886,8858,0,0,14350101,1200.0,0.0,3.0,0
4,CAMILO ANDRES JARAMILLO GORDILLO,2022-01-14,FC,28266,1,6946614108821,PEGANTE SMATPEGA *5GR,12.0,UND,263,3156,19,600,14351601,500.0,0.0,7.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16378,DISTRIBUIDORA SERVIVALLE S.A.S.,2022-04-21,FC,70346,1,7702191000014,DETERGENTE FAB *4KL,9.0,UND,23120,208082,19,39536,14351601,39000.0,0.0,1960.0,0
16379,DISTRIBUIDORA SERVIVALLE S.A.S.,2022-04-21,FC,70346,1,7702354030797,GEL EGO EXTREME MAX 110G,12.0,UND,1758,21096,19,4008,14351601,3000.0,0.0,196.0,0
16380,DISTRIBUIDORA SERVIVALLE S.A.S.,2022-04-21,FC,70346,1,7702047038406,CALDO KNORR DESM GALLINA *12UND,12.0,UND,2207,26481,19,5031,14351601,5500.0,0.0,982.0,0
16381,DISTRIBUIDORA SERVIVALLE S.A.S.,2022-04-21,FC,70346,1,7702047038123,SALSA DE TOMATE FRUCO *1000 G,5.0,UND,9876,49378,19,9382,14351601,18500.0,0.0,969.0,0
16382,DISTRIBUIDORA SERVIVALLE S.A.S.,2022-04-21,FC,70346,1,7702047041239,SALSA ROSADA FRUCO *85G,24.0,UND,928,22283,19,4234,14351601,1200.0,0.0,-57.0,0

##### The data shape is (16383, 18)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16383 entries, 0 to 16382
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Supplier name      16383 non-null  object
 1   Date of purchase   16383 non-null  datetime64[ns]
 2   type               16383 non-null  object
 3   number             16383 non-null  int64
 4   store              16383 non-null  object
 5   product            16383 non-null  object
 6   description        16383 non-null  object
 7   amount             16383 non-null  float64
 8   unit               16383 non-null  object
 9   vlr unit           16383 non-null  int64
 10  total without VAT  16383 non-null  int64
 11  vat_rate           16383 non-null  int64
 12  vat_value          16383 non-null  int64
 13  account            16383 non-null  int64
 14  Actual Price       16378 non-null  float64
 15  new_price          16378 non-null  float64
 16  current balance    15810 non-null  float64
 17  gross margin       16383 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(7), object(6)
memory usage: 2.2+ MB

In [5]:
# Check the data Nan and data null
df.isna().sum(), df.isnull().sum()

(Supplier name          0
 Date of purchase       0
 type                   0
 number                 0
 store                  0
 product                0
 description            0
 amount                 0
 unit                   0
 vlr unit               0
 total without VAT      0
 vat_rate               0
 vat_value              0
 account                0
 Actual Price           5
 new_price              5
 current balance      573
 gross margin           0
 dtype: int64,
 Supplier name          0
 Date of purchase       0
 type                   0
 number                 0
 store                  0
 product                0
 description            0
 amount                 0
 unit                   0
 vlr unit               0
 total without VAT      0
 vat_rate               0
 vat_value              0
 account                0
 Actual Price           5
 new_price              5
 current balance      573
 gross margin           0
 dtype: int64)

#### In this case we have the same value in data Nan and null, so we will drop the data Nan with data null together

In [6]:
# Drop data Nan 
df.dropna(inplace = True)

### In data info we see the type of each data, so we will check the number of unique from data with type object

In [7]:
Supplier_name = df['Supplier name'].nunique()
type          = df['type'].nunique()
store         = df['store'].nunique()
product       = df['product'].nunique()
description   = df['description'].nunique()
unit          = df['unit'].nunique()
account       = df['account'].nunique()

In [8]:
print(f' Supplier_name : {Supplier_name} \n',
      f'type          : {type}\n',
      f'store         : {store}\n',
      f'product       : {product}\n',
      f'description   : {description}\n',
      f'unit          : {unit}\n',
      f'account       : {account}\n')

 Supplier_name : 20
 type          : 3
 store         : 1
 product       : 3711
 description   : 3706
 unit          : 18
 account       : 5

#### For the small number unique, we will transform it to integer

### Check the data unique each column

In [9]:
type          = df['type'].unique()
store         = df['store'].unique()
account       = df['account'].unique()

In [10]:
print(f' type          : {type}\n',
      f'store         : {store}\n',
      f'account       : {account}\n')

 type          : ['FC' 'MR' 'RM']
 store         : [1]
 account       : [14351601 14350101 14350501 14353001 14353010]

In [11]:
# Transform data to integer
df['type'] = df['type'].replace(['FC', 'MR', 'RM'], ['1', '2', '3'])
df['account'] = df['account'].replace([14351601, 14350101, 14350501, 14353001, 14353010], [1, 2, 3, 4, 5])

#### We can see the column product have data in int, but the type of data is object, so we will change it to int64

But we have the problem in change the type of data, in column product we have the data not in integer instead some data in string object so we will drop all the string data

In [12]:
# Change all data string to Nan and drop it
df['product'] = df['product'].apply(lambda x: np.nan if isinstance(x, str) else x).dropna()
df.dropna(inplace = True)

In [13]:
# Change the data type
df['type'] = df['type'].astype('int64')
df['account'] = df['account'].astype('int64')
df['store'] = df['store'].astype('int64')
df['product'] = df['product'].astype('int64')

### In table we have the column with 'actual price' and 'new price'
### so i will make the new column with 'Actual_Price'

In [14]:
df.insert(15, 'Actual_Price', df.apply(lambda row: row['new_price'] if row['new_price'] != 0 else row['Actual Price'], axis=1))
df.drop(['Actual Price', 'new_price'], axis = 1, inplace = True)

df.insert(13, 'Total with VAT', df.apply(lambda x: x['total without VAT'] if x['vat_value'] == 0 else x['total without VAT'] - x['vat_value'], axis=1))

In [15]:
# Save the change
df.to_csv('shopping-by-product_Clean.csv')